/* ### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) */

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh-1px);
    margin: 1.25rem;
    
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    
    background-color: hsl(216, 50%, 16%);
    padding: 1.25rem;
    border-radius: 1.25rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    
}

.main-image{
    position: relative;
} 
.hover-div {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%,40%);
    width: 100%;
    opacity: 0;
    height: calc(100% - 4px);
    border-radius: 1rem;
    z-index: 999;
    transition: 0.3s ease-in-out;
}

.hover-div:hover{
    cursor: pointer;
    opacity:1;
}

.view-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.equilibrium-img{
    width: 100%;
    border-radius: 1rem;
}

h1{
    font-size: 1em;
    margin: 1.25rem 0 0 0;
    color: white;
}

h1:hover{
    cursor: pointer;
    color:hsl(178, 100%, 50%);
}

.description{
    margin: 1.25rem 0 0 0;
}

.price{
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price img{
    vertical-align: text-top;
    margin-right: 0.5rem;
}

.price :first-child{
    font-weight: 700;
    color:hsl(178, 100%, 50%)
}

hr{
    margin-top: 1.25rem;
    border-style: none;
    height: 0.5px;
    background-color: hsl(215, 32%, 27%);
}

.profile{
    margin-top: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile img{
    width: 1.5em;
    border-radius: 50%;
    margin-right: 1rem;
    border: 0.075rem solid white;
}

.profile span{
    color: white;
}

.profile span:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

@media screen and (min-width: 375px) {
    .container{
        width: 300px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }